main {
  margin-top: 72px;
  width: 100%;
  overflow: hidden;
}

#home-main {
  margin-top: 72px;
}

.splash-images {
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-width: 1900px;
}
