body { margin: 0; padding: 0; background-color: white; max-width: 100%; overflow-x: hidden; overflow-y: hidden;}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');



@font-face {
  font-family: 'mont';
  font-style: normal;
  font-weight: normal;
  src: local('mont-bold'), url('Mont-Bold.ttf') format('tff');
  }

nav {
  justify-content: space-between;
  background-color: white;
  align-items: center;
  display: flex;
  height: 4.5em;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  transition: top 0.2s ease;
  width: 100%;
}

.logo-container {
  align-items: center;
  background-color: white;
  display: flex;
  height: 100%;
  padding-left: 4%;
  max-width: 20%;
  width: auto;
}

.lingoscape-logo {
  height: 40px;
}

.navbar-items-container {
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background-color: white;
  display: flex;
  font-weight: 500;
  height: 100%;
  justify-content: flex-end;
  max-width: 100%;
  width: 100%;
  justify-content: space-around;
}

/* .navbar-flashcards-container {
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: white;
  display: flex;
  font-weight: 400;
  height: 100%;
  justify-content: flex-end;
  max-width: 100%;
  width: 100%;
  justify-content: space-around;
  margin-right: 1.3rem;
  line-height: 1.125rem;
  padding-top: 36px;
} */

#nav-lingoscape {
  font-family: mont;
  font-size: 18px;
  color: #4B4040;
  margin-bottom: 0.78em;

}

#nav-lingoscape:link {
  text-decoration: none;
}

#nav-lingoscape:hover {
  text-decoration: none;
}

#nav-lingoscape:visited {
  text-decoration: none;
}

#nav-find-flashcards:link {
  text-decoration: none;
  color: black;
}

#nav-find-flashcards:hover {
  text-decoration: none;
  color: black;
}

#nav-find-flashcards:visited {
  text-decoration: none;
  color: black;
}

.fa-search {
  font-size: 0.8rem;
  -webkit-text-stroke: 1px white;
}

#nav-make-flashcards:link {
  text-decoration: none;
  color: black;
}

#nav-make-flashcards:hover {
  text-decoration: none;
  color: black;
}

#nav-make-flashcards:visited {
  text-decoration: none;
  color: black;
}

#nav-login {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: bold;
  background-color: #FAFBFB;



  align-items: center;
  display: flex;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  line-height: 1.125rem;
  width: 50%;
}

#nav-login:link {
  text-decoration: none;
  color: black;
}

#nav-login:hover {
  text-decoration: none;
  color: black;
  background-color: #EFF2F2;
  font-size: 14px;
}

#nav-login:visited {
  text-decoration: none;
  color: black;
}

#nav-signup {
  text-decoration: none;
  color: white;
  font-size: calc(12px + 2 * ((100vw - 320px ) / 1600 ));
  background-color: #FF8A47;


  align-items: center;
  display: flex;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  line-height: 1.125rem;
  width: 50%;
}


#nav-signup:link {
  text-decoration: none;
  color: white;
}

#nav-signup:hover {
  text-decoration: none;
  color: white;
  background-color: #FF8243;
  font-size: 14px;
}

#nav-signup:visited {
  text-decoration: none;
  color: white;
}

#log-btns {
  display: flex;
  width: 28rem;
}

#nav-btns {
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: white;
  display: flex;
  font-weight: 400;
  height: 100%;
  justify-content: flex-end;
  max-width: 100%;
  width: 100%;
  margin-right: 2.1rem;
  line-height: 1.125rem;
  margin-left: auto;
}

#nav-find-flashcards {
  text-decoration: none;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  line-height: 1.125rem;
  width: 8rem;
}

#nav-make-flashcards {
  text-decoration: none;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  line-height: 1.125rem;
  width: 8rem;
}

#nav-separator {
  width: 2rem;
}
